.ui_designs{
    margin:10% 0;
}
.ui_designs img{
    width:100%;
    margin:20px 0;
}
.ui_designs .heading h1{
    font-size: 72px !important;
}
.ui_designs .heading{
    margin: 200px auto 10% auto;
}


.mailer-columns {
  column-count: 3;
  column-gap: 30px;
}

/* each mailer */
.mailer-item {
  break-inside: avoid;
  margin-bottom: 30px;
}

/* images */
.mailer-item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 12px;
}

/* tablet */
@media (max-width: 992px) {
  .mailer-columns {
    column-count: 2;
  }
  .ui_designs .heading {
    margin: 175px auto 40px auto;
  }
  .ui_designs .heading h1 {
    font-size: 50px !important;
  }
}

/* mobile */
@media (max-width: 576px) {
  .mailer-columns {
    column-count: 1;
  }
  .ui_designs .heading {
    margin: 150px auto 40px auto;
  }
}



